<!-- This is a stub for the body of the index (functional) page -->

<div class="page-header">
  <h1>Functional <small>T2*</small></h1>
</div>


<h2>Head</h2>

<div class="row">
  <div class="col-md-6">
    <a href="<%= @func.dir %>/func_mean_axial.png" data-lightbox="head" data-title="Head, axial slices">
      <img src="<%= @func.dir %>/func_mean_axial.png" alt="head, axial" class="img-rounded img-responsive">
    </a>
    <br />
    <a href="<%= @func.dir %>/func_mean_axial.png" target="_blank">Open full-size image in new window</a>
  </div>
  <div class="col-md-6">
    <a href="<%= @func.dir %>/func_mean_sagittal.png" data-lightbox="head" data-title="Head, sagittal slices">
      <img src="<%= @func.dir %>/func_mean_sagittal.png" alt="head, sagittal" class="img-rounded img-responsive">
    </a>
    <br />
    <a href="<%= @func.dir %>/func_mean_sagittal.png" target="_blank">Open full-size image in new window</a>
  </div>
</div>
