<!-- This is a stub for the body of the index (anatomical) page -->

<div class="page-header">
  <h1>Anatomical <small>T1</small></h1>
</div>


<h2>Head</h2>

<div class="row">
  <div class="col-md-6">
    <a href="<%= @anat.head_prefix %>_axial.png" data-lightbox="head" data-title="Head, axial slices">
      <img src="<%= @anat.head_prefix %>_axial.png" alt="head, axial" class="img-rounded img-responsive">
    </a>
    <br />
    <a href="<%= @anat.head_prefix %>_axial.png" target="_blank">Open full-size image in new window</a>
  </div>
  <div class="col-md-6">
    <a href="<%= @anat.head_prefix %>_sagittal.png" data-lightbox="head" data-title="Head, sagittal slices">
      <img src="<%= @anat.head_prefix %>_sagittal.png" alt="head, sagittal" class="img-rounded img-responsive">
    </a>
    <br />
    <a href="<%= @anat.head_prefix %>_sagittal.png" target="_blank">Open full-size image in new window</a>
  </div>
</div>
